{% extends 'zen/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set fullPageForm = true %}
{% set selectedNavItem = 'general' %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="zen">

{% namespace 'settings' %}

{{ forms.textField({
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('zen'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    first: true,
    autofocus: true,
    warning: macros.configWarning('pluginName', 'zen'),
}) }}

{{ forms.lightswitchField({
    label: 'Stop on Error' | t('zen'),
    instructions: 'Whether an import should stop when an error is encountered, or continue with the rest of the import.' | t('zen'),
    id: 'stopOnError',
    name: 'stopOnError',
    on: settings.stopOnError,
    warning: macros.configWarning('stopOnError', 'zen'),
}) }}

{% endnamespace %}

{% endblock %}
